:root {
    --font-heading: var(--font-playfair);
    --font-body: var(--font-jakarta);

    --text-xs: 14px;
    --text-sm: 16px;
    --text-md: 18px;
    --text-lg: 20px;
    --text-xl: 22px;

    --heading-xl: 56px;
    --heading-lg: 40px;
    --heading-md: 32px;
    --heading-sm: 24px;
}